[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/palenight"]
	path = bundle/palenight
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "bundle/vim-one"]
	path = bundle/vim-one
	url = https://github.com/rakr/vim-one.git
